<div class='beer-image-buttons'>
  <img id='home-beer' src='/images/beer.png' />

  <button><a href='/beers'>Check the Beers!</a></button>

  <button><a href='/random-beers'>Check a Random Beer</a></button>
</div>