/*
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 2rem;
  padding-top: 6px;
  line-height: 0rem;
}

h2 {
  color: #bfbfbf;
  font-size: 1.2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 700;
}

body {
  background-color: #f7f9f9;
  display: flex;
  flex-direction: column;
  flex-direction: center;
  min-height: 100vh;
  margin: 0;
}

p {
  font-size: 1.3rem;
}

b {
  font-size: 1.3rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #f7f9f9;
}

ul,
li {
  line-height: 2.4rem;
  font-size: 1.3rem;
}

nav {
  background-color: #2081c3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
  padding: 30px 50px;
  font-weight: 700;
  display: flex;
  gap: 30px;
}

footer {
  background-color: #0a2c42;
  font-size: 1.6rem;
  color: #f7f9f9;
  padding: 20px;
  font-weight: 700;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

button {
  background-color: #2081c3;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: 700;
  border: none;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.beer-image-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 100px 30px 30px;
}

#home-beer {
  margin-bottom: 35px;
  margin-left: 78px;
  width: 400px;
}

.beers-overview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
}

.beer-card {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: 30px;
  padding: 4px;
}

.single-beer {
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 4px;
  zoom: 150%;
}

.single-beer-description {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.beer-image {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  padding: 0px 75px 0px 0px;
}

.beer-image img {
  height: 200px;
}

#beers-title {
  color: black;
}
